* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex; /* with .memory-game margin:auto center the game container */
    background: rgb(221, 176, 50);
  }
  img {
    background-color: #ffffff;
    width:150px;
    height:120px;
    border:1px black solid;
   }
  .memory-game.easy{
    width: 960px;
    height: 640px;
    margin: auto; /* with body display:flex center the game container */
    display: flex; /* changes items behaviour with default properties:
    flex-item {
      flex: 1; - each item takes same space
    }
    flex-container {
    flex-direction: row; items layed in row
    flex-wrap: nowrap; - layed out in one row only
    justify-content: flex-start; - positioned left to right
    align-items: stretch; - stretched acros container height
    }*/
    flex-wrap: wrap; /* items can be displayed in multiple rows*/
    perspective: 1000px; /* gives depth property - 3D effect - together with transform-style & transition property in .memory-card*/
  }
  .memory-game.medium{
    width: 70%;
    height: 90%;
    margin: auto; /* with body display:flex center the game container */
    display: flex; /* changes items behaviour with default properties:
    flex-item {
      flex: 1; - each item takes same space
    }
    flex-container {
    flex-direction: row; items layed in row
    flex-wrap: nowrap; - layed out in one row only
    justify-content: flex-start; - positioned left to right
    align-items: stretch; - stretched acros container height
    }*/
    flex-wrap: wrap; /* items can be displayed in multiple rows*/
    perspective: 1000px; /* gives depth property - 3D effect - together with transform-style & transition property in .memory-card*/
  }
  .memory-game.hard{
    width: 60%;
    height: 90%;
    margin: auto; /* with body display:flex center the game container */
    display: flex; /* changes items behaviour with default properties:
    flex-item {
      flex: 1; - each item takes same space
    }
    flex-container {
    flex-direction: row; items layed in row
    flex-wrap: nowrap; - layed out in one row only
    justify-content: flex-start; - positioned left to right
    align-items: stretch; - stretched acros container height
    }*/
    flex-wrap: wrap; /* items can be displayed in multiple rows*/
    perspective: 1000px; /* gives depth property - 3D effect - together with transform-style & transition property in .memory-card*/
  }

  .memory-card.cardeasy {
    width: calc(25% - 10px); /* substract 10 px to allow for 5px margin - overflow fix */
    height: calc(33.333% - 10px);
    margin: 5px; /* space between cards - causes overflow */
    position: relative; /* effecting position absolute set in .front-face .back-face */
    transform: scale(1); /* needst to be set to work with memory-card:active transform */
    transform-style: preserve-3d; /* create 3D effect - together with .memory-card transition and perspective in .memory-game*/
    transition: transform .5s; /* 3D */
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  .memory-card.cardmedium {
    width: calc(25% - 10px); /* substract 10 px to allow for 5px margin - overflow fix */
    height: calc(22% - 10px);
    margin: 5px; /* space between cards - causes overflow */
    position: relative; /* effecting position absolute set in .front-face .back-face */
    transform: scale(1); /* needst to be set to work with memory-card:active transform */
    transform-style: preserve-3d; /* create 3D effect - together with .memory-card transition and perspective in .memory-game*/
    transition: transform .5s; /* 3D */
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  .memory-card.cardhard {
    width: calc(25% - 10px); /* substract 10 px to allow for 5px margin - overflow fix */
    height: calc(20% - 10px);
    margin: 5px; /* space between cards - causes overflow */
    position: relative; /* effecting position absolute set in .front-face .back-face */
    transform: scale(1); /* needst to be set to work with memory-card:active transform */
    transform-style: preserve-3d; /* create 3D effect - together with .memory-card transition and perspective in .memory-game*/
    transition: transform .5s; /* 3D */
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active { /* click effect */
    transform: scale(0.97); /* shrinks the size to 97% */
    transition: transform .2s; /* smoother shrink */
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%; /* takes the full available height of its container*/
    height: 100%;
    padding: 20px;
    position: absolute; /*will check what parent element it should be positioned to - postion relative has to be set*/
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden; /* mirored image of itself - hides inverted back-face*/
  }
  
  .front-face {
    transform: rotateY(180deg); /* makes front-face visible */
  }
  
  #game-board {
    display: none;
  }

  /* loader https://tobiasahlin.com/spinkit/ */
  #spinner {
    margin: auto 45%;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .cube1, .cube2 {
    background-color: #fff;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(82px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(82px) translateY(82px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(82px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(82px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(82px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(82px) translateY(82px) rotate(-179deg);
      -webkit-transform: translateX(82px) translateY(82px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(82px) translateY(82px) rotate(-180deg);
      -webkit-transform: translateX(82px) translateY(82px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(82px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(82px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }
  
  #scorebar{
    position: absolute;
    top: 5;
    padding-top: 20px;
    display: none;
    width: 100%;
    height: 10%;
    margin: auto;
  }
 